.container {
  margin-top: 60px;
}

.container h2 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 24px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 100px;
}

.video-container iframe {
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.video-container iframe:hover {
  opacity: 1;
}
