.container h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.wrapper h5 {
  font-weight: 700;
  margin-bottom: 8px;
}

.wrapper h6 {
  font-weight: 200;
}

.list {
  height: 300px;
  display: flex;
  gap: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.list::-webkit-scrollbar {
  display: none;
}

.profile-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.profile-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.no-image {
  width: 100%;
  height: 150px;
  background-color: bisque;
}
