.container h2 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 24px;
}

.wrapper {
  /* position: relative; */
}

.wrapper::after {
  /* content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
}

.wrapper h5 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.wrapper h6 {
  font-weight: 200;
  font-size: 16px;
}

.list {
  display: grid;
  gap: 32px;
  /* height: 300px; */
  /* overflow-x: scroll;
  overflow-y: hidden; */
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.list::-webkit-scrollbar {
  display: none;
}

.profile-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.profile-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.no-image {
  width: 100%;
  height: 150px;
  background-color: bisque;
}

.show-all {
  text-align: center;
  align-self: center;
}
