.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.home-link {
  width: fit-content;
}

.button {
  font-size: 14px;
  text-align: center;
  background: #fff;
  color: #000;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 300ms;
}

.button:hover {
  transform: scale(1.025);
  text-decoration: none;
}
